<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNH48.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B155DF671D6C5A1E002D21B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B155DF801D6C5A1E002D21B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B155DF8B1D6C5A1E002D21B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
